@media screen and (max-width:640px) {
  /*ヘッダー*/
  header {
    display: block;
    height: 12.17%;
    margin: 5.80% 0 4.35% 5.80%;
  }

  .header-logo {
    margin: initial;
    font-size: 18px;
    justify-content: flex-start;
  }

  .header-nav {
    margin: initial;
    font-size: 14px;
  }

  .header-nav li {
    padding: initial;
    margin-right: 3.48%;
  }

  /*トップラッパー*/
  .top-wrapper img {
    margin-bottom: 40px;
    width: 100%;
  }

   /*コンテンツ*/
   .contents-wrapper {
    display: block;
    margin: initial;
    margin: 0 4.35% 60px 4.35%;
  }

   /*メイン*/
   .main-container {
     width: 100%;
     margin: initial;
   }


  /*タイトル*/
  .title {
    font-size: 22px;
    border-bottom: 3px solid #1F91BE;
    margin: initial;
    margin-bottom: 20px;
  }

  /*アバウト*/
  .about-wrapper {
    display: block;
  }

  .about1 {
    padding: initial;
  }

  .about2 {
    padding: initial;
  }

  .about-wrapper img {
    padding-bottom: 20px;
    width: 100%;
  }

  .text-contents {
    font-size: 16px;
    width: 100%;
    padding: initial;
    margin-bottom: 40px;
  }

  /*ニュース*/
  .date {
    width: 100%;
    padding: initial;
    padding: 20px 0;
  }
  .news-item {
    padding: initial;
  }

  .news-box {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }

  .news-item {
    padding: initial;
  }


  /*ボタン*/
  .btn {
    font-size: 14px;
    padding: 13px 10.40%;
  }
  .btn-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }

  /*サイド*/
  .side {
    width: 100%;
  }

  .side-title {
    font-size: 22px;
    border-bottom: 3px solid #1F91BE;
  }
  
  
  /*写真*/
  .photo img {
    width: 100%;

  }
  /*カテゴリー*/
  .side-container {
    margin-bottom: 60px;
  }

  .side-container ul {
    font-size: 14px;
  }

  /*フッター*/
  footer {
    font-size: 10px;
    height: 40px;
  }
}
